.section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
    background-image: url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
        background-image:url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
        background-image:url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
        background-image:url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
        background-image:url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-accessibility .grid-item-control-apple-watch .image-overview-accessibility-control-apple-watch {
        background-image:url(/ios/ios-16-preview/images/overview/accessibility/control_watch__efgx0g696o6e_small_2x.jpg)
    }
}

.section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-apple-pay-wallet .grid-item-share-keys .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/apple-pay-wallet/share_keys_screen__ue85armku72a_small_2x.jpg)
    }
}
.section-carplay .grid-item-carplay .tile-content .background-figure {
    background-image: url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-carplay .grid-item-carplay .tile-content .background-figure {
        background-image:url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-carplay .grid-item-carplay .tile-content .background-figure {
        background-image:url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-carplay .grid-item-carplay .tile-content .background-figure {
        background-image:url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-carplay .grid-item-carplay .tile-content .background-figure {
        background-image:url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-carplay .grid-item-carplay .tile-content .background-figure {
        background-image:url(/ios/ios-16-preview/images/overview/carplay/carplay__c1d2mj7erqye_small_2x.jpg)
    }
}
.section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
    background-image: url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
        background-image:url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
        background-image:url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
        background-image:url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
        background-image:url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-even-more .section-content .even-more-section-header .image-overview-even-more-even-more {
        background-image:url(/ios/ios-16-preview/images/overview/even-more/even_more__dxu0afllipoy_small_2x.jpg)
    }
}
.section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-family-checklist .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/family_checklist_screen__e5lltzuxct2e_small_2x.png)
    }
}
.section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
    background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-child-accounts .image-overview-family-sharing-child-accounts {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/manage_child_accounts__cfnd6a1k6o9y_small_2x.jpg)
    }
}
.section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
    background-image: url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-family-sharing .grid-item-device-for-kids .image-overview-family-sharing-set-up-new-device {
        background-image:url(/ios/ios-16-preview/images/overview/family-sharing/set_up_new_device__e26pneb94weq_small_2x.jpg)
    }
}
.section-health-fitness .grid-item-health-app .tile-body glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-health-fitness .grid-item-health-app .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-health-fitness .grid-item-health-app .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-health-fitness .grid-item-health-app .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-health-fitness .grid-item-health-app .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-health-fitness .grid-item-health-app .tile-body glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/health-fitness/health_app_screen__csnuuzco25yu_small_2x.png)
    }
}
.section-hero .image-screen-4 glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-hero .image-screen-4 glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-hero .image-screen-4 glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-hero .image-screen-4 glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-hero .image-screen-4 glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-hero .image-screen-4 glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/hero/hero_screen_4__fvp5uonnahym_small_2x.jpg)
    }
}
.section-lock-screen .grid-item-live-updates glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-lock-screen .grid-item-live-updates glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-lock-screen .grid-item-live-updates glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-lock-screen .grid-item-live-updates glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-lock-screen .grid-item-live-updates glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-lock-screen .grid-item-live-updates glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/live_updates_screen__fnbmq1y4rtme_small_2x.png)
    }
}
.section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
    background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_large.png)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_large_2x.png)
    }
}

@media only screen and (max-width: 1068px) {
    .section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_medium.png)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_medium_2x.png)
    }
}

@media only screen and (max-width: 734px) {
    .section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-lock-screen .grid-item-lock-screen .lock-screen-glass glass-hardware {
        background-image:url(/ios/ios-16-preview/images/overview/lock-screen/lockscreen_hw__c7vk6s0td3cm_small_2x.png)
    }
}
.section-messages .grid-item-collaborate glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-messages .grid-item-collaborate glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-messages .grid-item-collaborate glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-collaborate glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-messages .grid-item-collaborate glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-collaborate glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/collaboration_screen__byll5eyt1aqa_small_2x.jpg)
    }
}
.section-messages .grid-item-messaging .image-messages-messaging {
    width: 427px;
    height: 262px;
    background-size: 427px 262px;
    background-repeat: no-repeat;
    background-image: url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_large.jpg);
    margin-left:-213px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-messages .grid-item-messaging .image-messages-messaging {
        background-image:url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-messages .grid-item-messaging .image-messages-messaging {
        width: 321px;
        height: 198px;
        background-size: 321px 198px;
        background-image:url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_medium.jpg);
        margin-left:-160px;
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-messaging .image-messages-messaging {
        background-image:url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-messages .grid-item-messaging .image-messages-messaging {
        width: 210px;
        height: 130px;
        background-size: 210px 130px;
        background-repeat: no-repeat;
        background-image:url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_small.jpg);
        margin-left:-103px;
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-messaging .image-messages-messaging {
        background-image:url(/ios/ios-16-preview/images/overview/messages/edit__b6sblj6xkc5e_small_2x.jpg)
    }
}
.section-messages .grid-item-shareplay glass-screen {
    background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_large.jpg)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-messages .grid-item-shareplay glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-messages .grid-item-shareplay glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-shareplay glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-messages .grid-item-shareplay glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-messages .grid-item-shareplay glass-screen {
        background-image:url(/ios/ios-16-preview/images/overview/messages/shareplay_screen__d17syrxdn1g2_small_2x.png)
    }
}
.section-router .router-item.router-download-software .image-apple-download-software {
    background-image: url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-router .router-item.router-download-software .image-apple-download-software {
        background-image:url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-router .router-item.router-download-software .image-apple-download-software {
        background-image:url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-download-software .image-apple-download-software {
        background-image:url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-router .router-item.router-download-software .image-apple-download-software {
        background-image:url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-download-software .image-apple-download-software {
        background-image:url(/ios/ios-16-preview/images/router/apple_beta__d4oq2shrdnma_small_2x.jpg)
    }
}
.section-router .router-item.router-ipados .image-ipados {
    background-image: url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-router .router-item.router-ipados .image-ipados {
        background-image:url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-router .router-item.router-ipados .image-ipados {
        background-image:url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-ipados .image-ipados {
        background-image:url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-router .router-item.router-ipados .image-ipados {
        background-image:url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-ipados .image-ipados {
        background-image:url(/ios/ios-16-preview/images/router/ipados__dgjtqifaugcy_small_2x.jpg)
    }
}
.section-router .router-item.router-macos .image-macos {
    background-image: url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-router .router-item.router-macos .image-macos {
        background-image:url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-router .router-item.router-macos .image-macos {
        background-image:url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-macos .image-macos {
        background-image:url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-router .router-item.router-macos .image-macos {
        background-image:url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-router .router-item.router-macos .image-macos {
        background-image:url(/ios/ios-16-preview/images/router/macos__b54728tkdzpy_small_2x.jpg)
    }
}